body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.container:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
    padding-bottom: 10px;
}
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input  {
    width: 95%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #28a745;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.dollar {
    padding-right: 10px;
    text-align: right;
}
th {
    background-color: #f8f9fa;
}

tr:hover {
    background-color: #f1f1f1;
}

.net-salary {
    background-color: aliceblue;
}
.ask-me {
    font-size: 13px;
    padding-bottom: 10px;
}

.box-plot-container {
    display: flex;  /* Use flexbox */
    flex-direction: column;  /* Stack children vertically */
    padding-top: 20px;
    font-size: 12px;
}
.box-plot {
    position: relative;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #ffcc80, #ffc107);
    /*border: 2px solid #000;*/
    margin-bottom: 20px;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
}

.p25, .median, .p75, .salary-indicator {
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
}

.p25 {
    left: 20%; /* Approximate position for P25 */
}

.median {
    left: 50%; /* Median position */
}

.p75 {
    left: 80%; /* Approximate position for P75 */
}

.salary-indicator {
    left: 25%; /* Position for $60,000 */
}

.triangle {
    position: absolute;
    bottom: 100%;
    top:11px;
    left: 25%; /* Adjust according to the salary */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid red; /* Indicator color */
}